  server {
    listen       10000;
    root         ${WEB_PUBLIC};

    location / {
        index index.php index.html index.htm;
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
      fastcgi_index index.php;
      fastcgi_pass   php-fpm:9000;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
    }
  }